name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Copy files to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "index.html,Dockerfile"
          target: "/home/ubuntu/docker-resume"

      - name: Build and Deploy on Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/docker-resume
            # Stop the old container (if running)
            sudo docker stop resume-container || true
            sudo docker rm resume-container || true
            # Build the new image
            sudo docker build -t my-resume .
            # Run the new container
            sudo docker run -d -p 80:80 --name resume-container my-resume
